@font-face{font-family:'fs';src:url('fonts/fs_medium.otf')}

body {
	background: #e9eaed;
	color: #141924;
	font-family: "fs", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	min-width: 320px;
	padding: 48px;
}

div#twocolumns {
	width: 85%;
	min-width: 900px;
	margin: auto;
	font-size: 20px;
}

div#sidebar {
	width: 22%;
	padding: 32px;
	background: #e9eaed;
	float: right;
}

h1 {
    padding: 8px;
    font-size: 40px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
}

div#main {
	background: #ffffff;
	border: solid 1px #dedede;
	border-radius: 3px;
	padding: 48px;
	width: 60%;
	float: left;
}

div#text {
	font-size: 16px;
	line-height: 24px;
}

div#img {
	font-size: 16px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}
