* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#the-team {
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#the-team li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: -5px;
}

.leader-profile {
  width: 120px;
}
.leader-bio {
  display: none;
}
